/* start variables  */
:root {
  --main-color: #10cab7;
  --secondary-color: #2c4755;
  --section-padding: 60px;
  --section-background: #f6f6f6;
  --main-duration: 0.3s;
}

/* End variables */
/* Start Global Rules  */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
.parent {
  background-color: #eee;
}
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules  */
/* Start Components */
.special-heading {
  color: #ebeced;
  text-align: center;
  font-weight: 800;
  font-size: 100px;
  letter-spacing: -3px;
}
.special-heading + p {
  text-align: center;
  margin-top: -30px;
  color: #79797977;
  font-size: 20px;
}
@media (max-width: 767px) {
  .special-heading {
    font-size: 60px;
  }
  .special-heading + p {
    margin-top: -20px;
  }
}
/* end Components */
.header {
  padding: 20px;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container .logo {
  width: 60px;
}
.header .container .link {
  position: relative;
}
.header .container .link .icon {
  width: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}
.header .container .link .icon span {
  background-color: var(--secondary-color);
  margin-bottom: 5px;
  height: 2px;
}
.header .container .link .icon:hover span:nth-child(2) {
  width: 100%;
}
.header .container .link .icon span:first-child {
  width: 100%;
}
.header .container .link .icon span:nth-child(2) {
  width: 60%;
  transition: var(--main-duration);
}
.header .container .link .icon span:last-child {
  width: 100%;
}
.header .container .link ul {
  list-style: none;
  background-color: #eee;
  position: absolute;
  right: 0;
  min-width: 200px;
  top: calc(100% + 15px);
  display: none;
  z-index: 1;
}
.header .container .link:hover ul {
  display: block;
}
.header .container .link ul::before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #eee transparent;
  position: absolute;
  right: 5px;
  top: -20px;
}
.header .container .link ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: var(--secondary-color);
  font-weight: bold;
  transition: var(--main-duration);
}
.header .container .link ul li:hover a {
  padding-left: 25px;
}
.header .container .link ul li:not(:last-child) a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.068);
}
/* landing  */
.landing {
  background-image: url(../images/landing.jpg);
  background-size: cover;
  height: calc(100vh - 64px);
  position: relative;
}
.landing .intro-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  max-width: 100%;
  text-align: center;
}
.landing .intro-text h1 {
  color: var(--main-color);
  font-weight: bold;
  font-size: 50px;
}
.landing .intro-text p {
  font-size: 19px;
  line-height: 1.8;
}
/* end landing  */
/* features  */
.features {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: #f6f6f6;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}
.features .container .feat {
  padding: 20px;
  text-align: center;
}
.features .container .feat i {
  color: var(--main-color);
}
.features .container .feat h3 {
  font-weight: 800;
  margin: 30px 0;
}
.features .container .feat p {
  color: #777;
  line-height: 1.8;
  font-size: 17px;
}
/* end features */
/* Start Services  */
.services {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.services .container .services-content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 100px;
}
.services .services-content .col .srv {
  display: flex;
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .services .services-content .col .srv {
    flex-direction: column;
    text-align: center;
  }
}
.services .services-content .col .srv i {
  color: var(--main-color);
  flex-basis: 60px;
}
.services .services-content .col .srv .text {
  flex: 1;
}
.services .services-content .col .srv .text h3 {
  margin-bottom: 20px;
}
.services .services-content .col .srv .text p {
  color: #444;
  line-height: 1.6;
  font-weight: 300;
}
.services .services-content .col .image {
  position: relative;
  text-align: center;
}
.services .services-content .col .image::before {
  content: "";
  position: absolute;
  background-color: var(--secondary-color);
  width: 100px;
  height: calc(100% + 100px);
  right: 0;
  top: -50px;
  z-index: -1;
}
.services .services-content .col .image img {
  width: 260px;
}
@media (max-width: 1199px) {
  .services .services-content .col .image-column {
    display: none;
  }
}
/* end Services  */
/* Start Portfolio */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.portfolio .portfolio-content {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  margin-top: 80px;
}
.portfolio .card {
  background-color: white;
}
.portfolio .card img {
  max-width: 100%;
}
.portfolio .info {
  padding: 20px;
}
.portfolio .info h3 {
  margin-bottom: 20px;
}
.portfolio .info p {
  line-height: 1.6;
  color: #777;
}
/* start about  */
.about {
  padding-top: var(--section-padding);
  padding-bottom: calc(var(--section-padding)+ 60px);
}
.about .about-content {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .about .about-content {
    flex-direction: column;
    text-align: center;
  }
  .about .about-content .text {
    margin-top: 60px;
  }
}
.about .image {
  position: relative;
  width: 250px;
  height: 375px;
}
.about .image img {
  width: 100%;
}
.about .image::before {
  content: "";
  position: absolute;
  background-color: #ebeced;
  width: 100px;
  height: calc(100% + 80px);
  top: -40px;
  left: -20px;
  z-index: -1;
}
@media (max-width: 991px) {
  .about .image::before {
    display: none;
  }
  .about .image::after {
    display: none;
  }
  .about .about-content .image {
    margin: 0 auto;
  }
}
.about .image::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 300px;
  border-left: 80px solid var(--main-color);
  border-bottom: 80px solid var(--main-color);
  z-index: -1;
  right: -150px;
  top: -40px;
}
.about .about-content .text {
  flex-basis: calc(100% - 500px);
}
.about .about-content .text p:first-of-type {
  font-weight: bold;
  line-height: 2;
  margin-bottom: 50px;
}
.about .about-content .text hr {
  width: 50%;
  border-color: var(--main-color);
}
.about .about-content .text p:last-of-type {
  margin-top: 10px;
  color: #777;
  line-height: 2;
}
/* End About */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-color: var(--section-background);
}
.contact .info {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  text-align: center;
}
.contact .info .label {
  font-size: 35px;
  font-weight: 800;
  color: var(--secondary-color);
  letter-spacing: -2px;
  margin-bottom: 15px;
}
.contact .info .link {
  display: block;
  text-decoration: none;
  color: var(--main-color);
  font-size: 35px;
  font-weight: 800;
}
.contact .info .social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.contact .info .social i {
  margin-left: 10px;
  color: var(--secondary-color);
}
@media (max-width: 767px) {
  .contact .info .label {
    font-size: 25px;
  }
  .contact .info .link {
    font-size: 25px;
  }
}
/* end contact  */
/* footer  */
.footer {
  background-color: var(--secondary-color);
  color: white;
  padding: 30px 10px;
  text-align: center;
  font-size: 18px;
}
.footer span {
  font-weight: bold;
  color: var(--main-color);
}
/* end footer  */
